* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color:#000;
 
  
}

/* Utility */

.btn {
  color: #000;
  background: #ffccf2;
  border-radius: 5px;
  padding: 0 1rem;
  margin-top: 1.5rem;
  
}

.btn:hover {
  background: #ff99e6;
}

.text-center {
  text-align: center
}

.l-heading {
  font-size: 2rem;
  padding-top: 1rem;
}


.container {
  display: flex;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  background: url("../img/THS_logo_BLK.jpg") no-repeat center center/cover;
  height: 100px;
  width: 250px;
  padding: 0.75rem;
  margin: 0 0.75rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar ul .nav-link a {
 padding: 0.75rem;
 margin: 0 0.75rem;
}

.nav-link a:hover{
  background-color: #ffccf2;
  border-radius: 5px;
}

/* Main Image */
.main-img  {
  height: 100vh;
  background: url('../img/main.jpg') no-repeat center center/cover;
}

.main-img .main-img-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#fff;
  height: 100%;
  text-align: center;
  line-height: 2;
  /* Overlay */
  background: rgba(0, 0, 0, .4);
  /* Might not need */
  /* position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100px; */
}

.main-img .main-img-content p {
  font-size: 1.2rem;
}



/* Section: About */
#about .container {
  flex-direction: column;
  margin-top: 1rem;
  
  
  
}

#about .container .item {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: #333 dotted 1px;
}




#about .container .item .item-image img {
  width: 300px;
  border-radius: 5%;
  margin: 0 1rem;

}

#about .container .item .item-content h3 {
  margin-bottom: 0.5rem;
}
