* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color:#000;
 
  
}


/* Navbar */

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  display: block;
  padding: 2rem 5rem;
  background: url("../img/THS_logo_BLK.jpg") no-repeat center center/cover;
  margin-left: 3rem;
  
}

.navbar-container  {
  display: flex;
 
}

.navbar-container li {
  list-style: none;
  font-size: 1.2rem;
}

.navbar-container .nav-link a {
  padding: 1rem;
  display: block;
  height: 100%;
}

.nav-link a:hover, .nav-link .active{
  background-color: #000;
  color: #ff99cc;
  
}

/* Main Image */

.main-img  {
  height: 50vh;
  background: url('../img/main.jpg') no-repeat center center/cover;
  opacity: .7;
}

