/* Navbar */
.navbar {
  flex-direction: column;
  
}

.navbar .navbar-brand,
.navbar .nav-link
{
  margin: auto;
  margin-bottom: 2rem;

}

/* Section: Main */

.main-img .main-img-content {
  line-height: 1.2;
}
.main-img .main-img-content h1 {
  font-size: 2rem;
  margin-top: -10rem;
  margin-bottom: 3rem;
}

.main-img .main-img-content p {
  font-size: 1rem;
  margin-bottom: 3rem;
}

/* Section: About Us */
#about .container .item {
  flex-direction: column;
  text-align: center;
}

#about .container .item .item-image img {
  margin-bottom: 1rem;
}


/* Section: Contact */
#contact .container .contact-img {
  display: none;
}