/* Navbar */
.navbar {
  flex-direction: column;
  
}

.navbar .navbar-brand,
.navbar .nav-link
{
  margin: auto;
  margin-bottom: 2rem;

}

/* Section: About Us */
#about .container .item {
  flex-direction: column;
  text-align: center;
  
}

#about .container .item .item-image img {
  margin-bottom: 1rem!important;
}