
.topBar {
    background-color:#ff99ce;
    text-align: center;
    color: white;
}

.fa-phone-volume {
    padding-right: 20px;
    padding-top: 10px
}

.fa-dollar-sign {
    padding-top: 10px
}

button {
    background-color: #33cc33;
}


/* div[class*=" col-"] {
    background-color: red;
} */

.imgCenter {
   
   margin: auto;
}

.card {
    border: none;
}

img.size {
    height: 500px;
}